{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="about-section">
          <div id="about-text-box">
            <p id='about-page-title'>Pages</p>
            <span id='home-page-link'><a href="/">Home</a></span><span>/</span><span id='about-page-link'><a>Pages</a></spna>
          </div>  
       </section><!--       /Page    -->

	     <section id="our-team">
          <div class="container">
             <div class="row">
                 <div id="our-services-text-box">
                    <p id='our-services-small-title'>WHAT WE DO</p>
                    <p id='our-services-big-title'>BEST SERVICES WE OFFER</p>
                    <hr id="our-services-line"/>
                    <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
                 </div>

                 <div class="col-xs-12 col-sm-3" id="best-service-full-box">
                     <div id="best-service-text-box">
                         <p id="best-service-box-title">FULLY RESPONSIVE</p>
                         <hr id="best-service-box-line">
                         <p id="best-service-box-des">HERE HE COMES HERE COMES TO SPEED RACER. HE'S A DEMON ON WHEELS.</p>
                         <i class="fas fa-tv" id="best-service-box-icons"></i>
                     </div>
                 </div>
                 <div class="col-xs-12 col-sm-3" id="best-service-full-box">
                     <div id="best-service-text-box">
                         <p id="best-service-box-title">RETINA READY</p>
                         <hr id="best-service-box-line">
                         <p id="best-service-box-des">HERE HE COMES HERE COMES TO SPEED RACER. HE'S A DEMON ON WHEELS.</p>
                         <i class="far fa-eye" id="best-service-box-icons"></i>
                     </div>
                 </div>
                 <div class="col-xs-12 col-sm-3" id="best-service-full-box">
                     <div id="best-service-text-box">
                         <p id="best-service-box-title">UNIQUE DESIGN</p>
                         <hr id="best-service-box-line">
                         <p id="best-service-box-des">HERE HE COMES HERE COMES TO SPEED RACER. HE'S A DEMON ON WHEELS.</p>
                         <i class="fas fa-rocket" id="best-service-box-icons"></i>
                     </div>
                 </div>
                 <div class="col-xs-12 col-sm-3" id="best-service-full-box">
                     <div id="best-service-text-box">
                         <p id="best-service-box-title">EASY TO CUSTOMIZE</p>
                         <hr id="best-service-box-line">
                         <p id="best-service-box-des">HERE HE COMES HERE COMES TO SPEED RACER. HE'S A DEMON ON WHEELS.</p>
                         <i class="far fa-keyboard" id="best-service-box-icons"></i>
                     </div>
                 </div>
                 

             </div>
          </div>
       </section><!--           /BEST SERVICES      --> 

    <section id="our-services">
      <div class="container">
         <div class="row">
             <div id="our-services-text-box">
                <p id='our-services-small-title'>OUR SERVICES</p>
                <p id='our-services-big-title'>SERVICES WHAT WE OFFERS</p>
                <hr id="our-services-line"/>
                <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">Branding</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">WEB DESIGNING</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">DEVELOPMENT</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">DIGITAL MARKETING</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">WEB ANALTICS</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>
             <div class="col-sm-4 col-xs-12 our-services-icons">
                <div class="col-sm-2 col-xs-2">
                   <i class="fa fa-mobile"></i>
                </div>
                <div class="col-sm-10 col-xs-10">
                  <p id="our-services-icons-title">VISUAL GRAPHIC</p>
                   <hr id="our-services-icons-line">
                   <p id="our-services-icons-desc">Come and listens to a story about a man named Jed lsata as to poor mountaineer
                  kept his for family fed.</p>
                </div>
             </div>

         </div>
      </div>
    </section><!--           /our-services       -->

    <section id="img-gallery">
      <div class="container-fluid" id="gallery-container">
         <div class="row">
             <div id="our-services-text-box">
                <p id='our-services-small-title'>OUR AMAZING WORKS</p>
                <p id='our-services-big-title'>LET US BLOW YOUR MIND</p>
                <hr id="our-services-line"/>
                <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
             </div>

             <div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-1.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-10.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-8.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-4.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-5.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-6.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-7.jpg' %}" id="gallrey-img">
                 </div>
                 <div class="col-sm-3 col-xs-12" id="gallrey-img-box">
                    <img src="{% static 'img/img-2-9.jpg' %}" id="gallrey-img">
                 </div>
             </div><!-- gallery-img-inside -->

             <div id="image-box-popup">
                 <i class="fa fa-times"></i>
                 <img src="">
             </div>
             

         </div>
      </div>
    </section><!--           /our-gallery-imag      -->

    <section id="services-number-section">
          <div class="container">
             <div class="row">
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      500
                      <i class="fas fa-anchor"></i>
                   </span>
                   <p id="serveice-number-des">Project Completed</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      254 
                      <i class="fas fa-pencil-ruler"></i>
                   </span>
                   <p id="serveice-number-des">Line Of Codes</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      184
                      <i class="far fa-heart"></i>
                   </span>
                   <p id="serveice-number-des">Happy Clients</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      35k
                      <i class="fas fa-bicycle"></i>
                   </span>
                   <p id="serveice-number-des">Km Drive</p>
                   <hr id="serveice-number-line">
                </div>
             </div>
          </div> 
       </section><!--           /NUMBER SECTION      --> 

    <section id="our-plane">
        <div class="container">
           <div class="row">
               <div id="our-services-text-box">
                  <p id='our-services-small-title'>CHOOSE YOURS</p>
                  <p id='our-services-big-title'>OUR PRICING PLAN</p>
                  <hr id="our-services-line"/>
                  <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
               </div>
              
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>Basic Plan</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">10</span><span id="our-plan-price-mon">Per Month</span>
                      </li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">15 EMAIL ACCOUNT</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">100GB SPACE</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">1 DOMAIN NAME</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">500GB BANDWIDTH</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">ENHANCED SERCURITY</span></li>
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>Advance Plan</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">15</span><span id="our-plan-price-mon">Per Month</span>
                      </li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">15 EMAIL ACCOUNT</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">100GB SPACE</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">1 DOMAIN NAME</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">500GB BANDWIDTH</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">ENHANCED SERCURITY</span></li>
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div> 
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>Premium Plan</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">35</span><span id="our-plan-price-mon">Per Month</span>
                      </li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">15 EMAIL ACCOUNT</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">100GB SPACE</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">1 DOMAIN NAME</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">500GB BANDWIDTH</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">ENHANCED SERCURITY</span></li>
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>Unlimited Plan</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">75</span><span id="our-plan-price-mon">Per Month</span>
                      </li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">15 EMAIL ACCOUNT</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">100GB SPACE</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">1 DOMAIN NAME</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">500GB BANDWIDTH</span></li>
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">ENHANCED SERCURITY</span></li>
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div> 
               

           </div>
        </div>
      </section><!--           /Our plane     -->

{% endblock %}  